<!DOCTYPE html>
<head>
    <title>Index</title>
</head>
<body>
    <marquee><img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExOGp3bGQzbm51anB6cmYwZmZjeDV4YnRvcDNuYjBnOTU4NnNtcTBzYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Z8MYSDbE8VFqo/giphy.gif"></marquee>
    <marquee><h1>Welcome to the text analyzer.Enter your text below</h1></marquee>
    <marquee><h1>Author {{name}} from {{city}}</h1></marquee>
    <form action='/analyze' method='get'>
        <textarea name='text' style="margin: 0px; width: 1500px; height: 150px;"></textarea>
        <br>
        <input type="checkbox" name="removepunc">RemovePunctuation<br>
        <input type="checkbox" name="fullcaps">UpperCase<br>
        <input type="checkbox" name="newLineRemove">NewLineRemove<br>
        <input type="checkbox" name="extraSpaceRemove">ExtraSpaceRemove<br>
        <input type="checkbox" name="charcount">CharCount<br>
        <button type='submit'>Analyze text</button>
    </form>      
</body>
</html>        