{%extends 'shop/basic.html'%}

{% block title%}{{product.product_name}}{%endblock%}

{%block body%}
<div class="container my-4">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{product.image}}" width="233px" height="385px">
    </div>    
        <div class="row">
            <div class="row" id="divpr{{ product.id }}">
                <!-- This will be dynamically updated by JS -->
                <button id="pr{{ product.id }}" class="btn btn-primary cart mx-2">Add To Cart</button>
                <button class="btn btn-primary buy-now">Buy Now</button>
            </div>
            
        </div>    
         
    </div>
    <div class="col-md-8">
        <h5>{{product.product_name}}</h5>
        <p><b>Rs.{{product.price}}</b></p>
        <p>{{product.desc}}</p>
    </div>    
    </div> 
</div>
{%endblock%}

{% block js %}
<script>
            // Setup cart from localStorage
            if (localStorage.getItem('cart') == null) {
                var cart = {};
            } else {
                cart = JSON.parse(localStorage.getItem('cart'));
               
                updateCart(cart);
            }
        
            // Use delegated listener for Add to Cart
            $(document).on("click", ".cart", function () {
                const id = '{{ product.id }}';
                const key = 'pr' + id;
        
                if (cart[key]) {
                    cart[key][0] += 1;
                } else {
                    cart[key] = [1, "{{ product.product_name }}", parseInt("{{ product.price }}")];
                }
        
                updateCart(cart);
            });
        
            // Use delegated listener for Buy Now
            $(document).on("click", ".buy-now", function () {
                const id = '{{ product.id }}';
                const key = 'pr' + id;
        
                if (cart[key]) {
                    cart[key][0];
                } else {
                    cart[key] = [1, "{{ product.product_name }}", parseInt("{{ product.price }}")];
                }
        
                updateCart(cart);
        
                // Redirect to checkout
                window.location.href = '/shop/checkout';
            });
        
            // Setup Popover
            $('#popcart').popover();
            updatePopover(cart);
        
            function updatePopover(cart) {
                let popStr = "<h5>Cart for your items in my shopping cart</h5><div class='mx-2 my-2'>";
                let i = 1;
        
                for (let item in cart) {
                    popStr += `<b>${i}</b>. ${cart[item][1].slice(0, 19)}... Qty: ${cart[item][0]}<br>`;
                    i++;
                }
        
                popStr += `
                    </div>
                    <a href='/shop/checkout'><button class='btn btn-primary' id='checkout'>Checkout</button></a>
                    <button class='btn btn-primary' onclick='clearCart()' id='clearCart'>Clear Cart</button>
                `;
        
                $('#popcart').attr('data-content', popStr).popover('show');
            }
        
            function clearCart() {
                for (let item in cart) {
                    const div = document.getElementById('div' + item);
                    if (div) {
                        div.innerHTML = `
                            <button id="${item}" class="btn btn-primary cart mx-2">Add To Cart</button>
                            <button class="btn btn-primary buy-now">Buy Now</button>
                        `;
                    }
                }
                localStorage.clear();
                cart = {};
                updateCart(cart);
            }
        
            function updateCart(cart) {
                const id = '{{ product.id }}';
                const key = 'pr' + id;
        
                if (cart[key]) {
                    document.getElementById('div' + key).innerHTML = `
                        <button id="minus${key}" class="btn btn-primary minus mx-2">-</button>
                        <span id="val${key}">${cart[key][0]}</span>
                        <button id="plus${key}" class="btn btn-primary plus mx-2">+</button>
                        <button class="btn btn-primary buy-now">Buy Now</button>
                    `;
                } else {
                    document.getElementById('div' + key).innerHTML = `
                        <button id="${key}" class="btn btn-primary cart mx-2">Add To Cart</button>
                        <button class="btn btn-primary buy-now">Buy Now</button>
                    `;
                }
        
                document.getElementById('cart').innerHTML = Object.keys(cart).length;
                localStorage.setItem('cart', JSON.stringify(cart));
                updatePopover(cart);
            }
        
            // Delegated minus button
            $(document).on("click", ".minus", function () {
                const a = this.id.slice(7);
                const key = 'pr' + a;
        
                if (cart[key]) {
                    cart[key][0] -= 1;
                    if (cart[key][0] <= 0) {
                        delete cart[key];
                        document.getElementById('div' + key).innerHTML = `
                            <button id="${key}" class="btn btn-primary cart mx-2">Add To Cart</button>
                            <button class="btn btn-primary buy-now">Buy Now</button>
                        `;
                    } else {
                        document.getElementById('val' + key).innerHTML = cart[key][0];
                    }
                }
        
                updateCart(cart);
            });
        
            // Delegated plus button
            $(document).on("click", ".plus", function () {
                const a = this.id.slice(6);
                const key = 'pr' + a;
        
                if (cart[key]) {
                    cart[key][0] += 1;
                    document.getElementById('val' + key).innerHTML = cart[key][0];
                }
        
                updateCart(cart);
            });
</script>
        
{% endblock %}